/* color scheme
#7c690a
#babd8e
#ffdac7
#fa9500
#eb6424 

#bfcfdbb5
#e8470a

#a76b3f
#bfcfdbb5

#958d4a
#e5a5bb

#7dabb4
#e9c151

#e4ddd2
#d7c743
#7f98dd
#a86e51

*/

.App {
  text-align: center;
  font-family: monospace;
}

.hero-view {
  background-color: #7f98dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #e4ddd2;
}

.hero-view h1{
  color: #e4ddd2;
}

.hero-view .info {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #e4ddd2;
  border-bottom: solid 2px #e4ddd2;
  margin: 20px 0;
}

.hero-view header {
  margin: 20% 0 0 0;
}

.vr {
  border-left: solid 2px #e4ddd2;
  height: 100px;
  margin: 5px 30px;
}

.gif {
  margin: 40px 0 0 0;
}

.rsvp-section {
  background-color: #d7c743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .rsvp-section h1 {
    color: #e5a5bb;

} */

form {
  width: 60vw;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-item label {
  margin: 10px 0;
}

.main-btn {
  border: 1px solid #F44336;
  font-size: 24px;
  font-weight: bolder;
  margin: 20px;
  background-color: #e8470a;
  color: #d7c743;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 3px #fffffe;
}


.textfield {
  border: 2px solid white;
  font-size: 14px;
}

.guests {
  display: flex;
  padding-left: 30px;
  align-content: left;
  text-align: left;
}

#error{
  margin: 0;
}

.guests-section {
  background-color: #e4ddd2;
  color: #a86e51;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-section {
  background-color: #a86e51;
  color: #e4ddd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-section h1 {
  margin: 0;
}

.faq {
  margin: 0 30px;
}