/* color scheme
#7c690a
#babd8e
#ffdac7
#fa9500
#eb6424 

#bfcfdbb5
#e8470a

#a76b3f
#bfcfdbb5

#958d4a
#e5a5bb

#7dabb4
#e9c151
*/

.App {
  text-align: center;
}

.hero-view {
  background-color: #bfcfdbb5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e8470a;
}

.hero-view h1{
  color: #e8470a;
}

.hero-view .info {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #eb6424;
  border-bottom: solid 2px #eb6424;
}

.vr {
  border-left: solid 2px #eb6424;
  height: 100px;
  margin: 5px 30px;
}

.rsvp-section {
  background-color: #958d4a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .rsvp-section h1 {
    color: #e5a5bb;

} */

form {
  width: 60vw;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-item label {
  margin: 10px 0;
}

.main-btn {
  border: 4px solid #ddbcc8;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bolder;
  width: calc(80px + 4vmin);
  height: calc(80px + 4vmin);
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #e5a5bb;
  color: #958d4a;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 5px #5e5a2e;

}

/* .mainbtn:hover { 
  background-color: #b8b4dc
} */

.textfield {
  border: 2px solid white;
  font-size: 14px;
  width: 40vw;
}

.guests {
  display: flex;
  padding-left: 30px;
  align-content: left;
  text-align: left;
}

#error{
  margin: 0;
}



.faq-section {
  background-color: #a4673a;
  color: #bfcfdbb5;
  min-height: 100vh;
}