/* color scheme
#7c690a
#babd8e
#ffdac7
#fa9500
#eb6424 

#bfcfdbb5
#e8470a

#a76b3f
#bfcfdbb5

#958d4a
#e5a5bb

#7dabb4
#e9c151

#e4ddd2
#d7c743
#7f98dd
#a86e51

*/

.App {
  text-align: center;
  font-family: monospace;
}

.invite-screen {
  background-color: #7f98dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #e4ddd2;
}

.invite-screen h1{
  color: #e4ddd2;
}

.invite-screen .info {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #e4ddd2;
  border-bottom: solid 2px #e4ddd2;
  margin: 20px 0;
}

.vr {
  border-left: solid 2px #e4ddd2;
  height: 100px;
  margin: 5px 30px;
}

.gif {
  margin: 40px 0 0 0;
}

.info-section {
  background-color: #ce6069;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e4ddd2;
}

.info {
  margin: 0 40px;
}

.info h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.info a {
  color: #e4ddd2;
}

.info p{
  text-align: left;
}

.rsvp-section {
  background-color: #d7c743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2b1d19;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item label {
  display: flex;
  flex-direction: column;
}

.main-btn {
  border: 1px solid #F44336;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  margin: 1.33em 5px;
  background-color: #e8470a;
  color: #d7c743;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 0px #f6f2d1;
}

.secondary-btn {
  border: 1px solid #F44336;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  margin: 1.33em 5px;
  background-color: #d7c743;
  text-transform: uppercase;
  color: #F44336;
}

.form-labels {
  margin: 5px;
}

#contribution-label {
  margin: 15px 0 5px 0;
}

#select {
  max-width: min-content;
  margin: 0 auto;
}

.textfield {
  background: white !important;
  color: black !important;
  border-radius: 0px !important;
  border: 2px solid white;
  font-size: 14px;
  outline: none;
}

.confirm {
  margin: 0 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirm h1 {
  margin: 0;
  text-shadow: 2px 2px 0px #ffffff;
  color: #2b1d19;
}

.confirm h2 {
  margin: 1.33em 50px;
}

.guests-section {
  background-color: #e4ddd2;
  color: #a86e51;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guests-section section {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 40px;
}

.guests {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.remove-guest-btn {
  border: 1px solid #a86e51;
  font-weight: bolder;
  margin: 5px;
  background-color: #a86e51;
  color: #e4ddd2;
  box-shadow: 0px 0px 20px 0px #bfb8ae;
  text-transform: capitalize;
  font-size: 8px;
  padding: 1px 2px;
}

.faq-section {
  background-color: #a86e51;
  color: #e4ddd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-section h1 {
  margin: 0;
}

.faq {
  margin: 5px 40px;
}

.faq h3 {
  margin-bottom: 0;
}

.faq p{
  text-align: left;
}